extends layout
block content
  .col-md-12
    .container
      h2 Thank you for helping the Bitcoin network!
      p Since you paid $20 or over, you get to name your node!
      p Select a name for your server by filling in the text box below, if the name is available you will be able to submit your selection.
  .col-md-12
    .container
      hr

      span.errorNotice.hidden 
      br
      strong Alpha-numeric (you can also use dashes), 16 characters max.
      br
      .nameyourserver
        .col-md-8
          .spinner
            img(src="/img/712.GIF")
          .dnsok.fa.fa-check
          .dnsfail.fa.fa-times
          input#servername(type="text", placeholder="Name your server", maxlength="16")
          | .fullnode.co
          
          button#setdns.btn.btn-success.pull-right(disabled) Submit        
  script.
    var userid = '#{userid}';