extends layout
block content
  .col-md-12
    .container
      h2 FAQs
      p.
        <strong>Q</strong>: $20 Seems too much, why is this so expensive?
        <br><br>
        <strong>A</strong>: Automatically deploying a full Bitcoin requires us to work with server providers that have a wide range of actions that can be used via their API interface.<br>Sure, you can find providers that offer cheaper deals for servers, but we are not able to automatically deploy on these hosts since their API interface is not strong enough for our needs.<br>So, we currently support Linode & DigitalOcean. We would like to support Amazon and Google Compute in the near future as well.      
      hr
      p.
        <strong>Q</strong>: When will you support more server providers?
        <br><br>
        <strong>A</strong>: Finding more providers is not an easy task, since we have specific requirements. We need to be able to provision server automatically via API, we need the provision process to be quick and we need the servers to be stable enough and strong enough to run the bitcoin daemon which is very resource consuming.      
      hr
      p.
        <strong>Q</strong>: What if I want to contribute less than $10?
        <br><br>
        <strong>A</strong>: You can contribute any amount that you wish, however you will not be able to name the server. At the end of each day we will pool all the non-$20 transactions and provusion the neccessary amount of full nodes. 
      hr
      p.
        <strong>Q</strong>: Can you prove that you are actually deploying a server for each contribution?
        <br><br>
        <strong>A</strong>: After you send us the coins, you will be able to see the details of the full node in the <a href="/servers">server list</a>. Additionally each server responds to HTTP holding a banner page indicating that this server was created by fullnode.co.
      hr
      p.
        <strong>Q</strong>: How can we know that you're not using the servers for mining or other stuff?
        <br><br>
        <strong>A</strong>: I have yet to find a way to prove this, if you have any ideas please contact me and I will be happy to apply changes to the server images.
      hr
      p.
        <strong>Q</strong>: Centralization is bad, what if Linode/DigitalOcean closes your account?
        <br><br>
        <strong>A</strong>: The project is completely open sourced, feel free to contribute to it, open issues if you find any bugs and launch your own fullnode.co website to mitigate centralization.
      hr
      p.
        <strong>Q</strong>: How can I check if the server that was provision is in fact running as a full node?
        <br><br>
        <strong>A</strong>: You can take any IP from the server list and check it against https://getaddr.bitnodes.io, please be sure to use the IP address rather than the host since DNS takes time to propagate. 
  .col-md-12
    .container
      