.container
  .footer
    hr(style='margin: 30px 0 10px 0;')
    p &copy;&nbsp;
      a(href='#') Author
      | 2014
link(rel='stylesheet', href='/css/style.css')

script(src='js/bootstrap.min.js')

script(src='js/fn.js')
block footer