.container
  .footer
    hr(style='margin: 30px 0 10px 0;')
    p &copy;&nbsp;
      a(href='#') Author
      | 2014
link(rel='stylesheet', href='/css/style.css')
script(src='js/jquery-1.11.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/fn.js')
script(src="https://coinbase.com/assets/button.js", type="text/javascript")
block footer