extends layout
block content
  .col-md-12
    .container
      h2 Fund a full node & Contribute to the Bitcoin network
      p Full Bitcoin nodes are incredibly important for the safety of the network. <a href="http://coinchomp.com/2014/03/19/bitcoin-nodes-many-enough/">Here are a few reasons why</a>.
      p This is an <a href="https://github.com/orweinberger/fullnode.co" target="_blank">open-source</a>, non-profit project aimed to create as many full nodes as possible and to have them last as long as possible.
      p Once you complete the payment of $10 via the Coinbase button below, you will be prompted to select a unique DNS for your server (under *.fullnode.co).
      p After you complete the process a full node will be provisioned for you either on Linode or DigitalOcean (we plan to support more providers in the future).
      p That full node will be online for a month and in the near future you will be able to 're-fund' the nodes.
      p If you have any questions, <a href="/faq">have a look here</a>.

  .col-md-12

    .container
      hr
      .nameyourserver
        .col-md-4.pull-left.text-left
          .coinbase
            input#coinbaseimage(src="https://coinbase.com/assets/buttons/buy_now_large-cac4e1e8d97c83a62dc249573c5afb3f.png", style="width:191px;height:37px;", type="image")
      
  script.
    var uuid = '#{uuid}';