extends layout
block content
  .col-md-12
    .container
      h2 Fund a full node & Contribute to the Bitcoin network
      p Full Bitcoin nodes are incredibly important for the safety of the network. <a href="http://coinchomp.com/2014/03/19/bitcoin-nodes-many-enough/">Here are a few reasons why</a>.
      p This is an <a href="https://github.com/orweinberger/fullnode.co" target="_blank">open-source</a>, non-profit project aimed to create as many full nodes as possible and to have them last as long as possible.
      p Once you choose a name for your node, you will be able to pay $10 (via coinbase). We will randomly choose a provider (currently supporting Linode and DigitalOcean) and we will automatically deploy a full node.
      p That full node will be online for a month but you will be able to 're-fund' it or any other running full nodes.
      p Each node raised will have a Statoshi.info dashboard installed and will also respond to port 8080 with an indication that it is in fact a part of the fullnode.co network.
      p Please read the <a href="/faq">FAQs</a> before submitting any questions.

  .col-md-12

    .container
      hr
      .nameyourserver
        .col-md-4.pull-left.text-left
          .coinbase
            input#coinbaseimage(src="https://coinbase.com/assets/buttons/buy_now_large-cac4e1e8d97c83a62dc249573c5afb3f.png", style="width:191px;height:37px;", type="image")
      
  script.
    var uuid = '#{uuid}';