doctype html
html
  head
    block head
      block title
        title Fullnode.co - Adopt a full node
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/style.css')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300', rel='stylesheet', type='text/css')
      script(src='/js/jquery-1.11.1.min.js')
  body
    include header
    block content
    include footer