.nameyourserver {
  font-size:22px;
}
.dnsok, .dnsfail, .spinner {
  display: none;
  float:left;
  margin-right:15px;
  line-height:38px;
}

.spinner img {
  width:30px;
  height:30px;
}

.highlight > td {
  background-color:#FFB8B8 !important;
}

.offline {
  opacity:0.3;
}

.navbar-brand i {
  color:#ffffff;
}