body {
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}
a {
  color:#59b4d4;
}
.dark {
  background-color:#2c3e50;
  color:#fff;
  min-height:550px;
}
.light {
  background-color:#34495e;
  color:#fff;
  min-height:550px;
}
.topcontent {
  margin-top:70px;
  padding-left: 15px;
}
.bottomcontent {
  margin-top:50px;
  padding-left: 15px;
}

h1 {
  font-weight:800;
  line-height:46px;
}
.padding-left-50 {
  padding-left: 50px;
}
.metric {
  color:#ddd;
  font-size:36px;
}
.modal-dialog {
  width:1000px;
}